<!doctype html>
<html lang="es">
<head>
	<meta charset="utf-8" />
	<meta name="author" content="Servani">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>{{ _PROJECT }}</title>
	<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}?v=2" />
	<link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}" />
	<link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap-theme.min.css') }}" />
	<link rel="stylesheet" href="{{ asset('css/styles.css') }}" />
</head>
<body>
	{# <div id="wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-12" id="content">{% block section %}{% endblock %}</div>
			</div>
		</div>
	</div> #}
	<div class="container">
		{% block section %}{% endblock %}
	</div>
	<script src="{{ asset('js/vendor/jquery.js') }}"></script>
	<script src="{{ asset('js/scripts.js') }}"></script>
	<script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
	{% block scripts %}{% endblock %}
</body>
</html>
