<!doctype html>
<html class="no-js" lang="es">
<head>
	<meta charset="utf-8" />
	<meta name="author" content="Grupo NSNC">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>{{ _FRAMEWORK }} {{ _VERSION }}</title>
	<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}?v=3" />
	<link rel="stylesheet" href="{{ asset('css/foundation.min.css') }}" />
	<link rel="stylesheet" href="{{ asset('css/styles.backend.css') }}" />
	<link rel="stylesheet" href="{{ asset('css/jquery-ui-1.10.4.custom.min.css') }}" />
	<script src="{{ asset('js/vendor/modernizr.js') }}"></script>
</head>
<body>
	<header>
		<div id="header" class="fixed">
			<nav class="top-bar" data-topbar data-options="scrolltop:false;back_text:Volver">
				<ul class="title-area">
					<li class="name">
						<h1>{{ _FRAMEWORK }} {{ _VERSION }} <small>Site Admin</small></h1>
					</li>
					<li class="toggle-topbar menu-icon"><a href="#"></a></li>
				</ul>
				<section class="top-bar-section">
					<ul class="right">
						<li><a href="{{ url('') }}" target="_blank">Ir al sitio web</a></li>
						<li class="has-dropdown">
						<a href="#">{{ _USER }}</a>
							<ul class="dropdown">
								<li><a href="{{ url('logout') }}" title="Logout">Cerrar sesión</a></li>
							</ul>
						</li>
						{% for key,mod in _MODS %}
							{% if mod is iterable %}
								<li class="show-for-small-only has-dropdown">
									<a href="#">{{ key }}</a>
									<ul class="dropdown">
										{% for slug,name in mod %}
											<li><a href="{{ url('admin/list/' ~ slug) }}">{{ name }}</a></li>
										{% endfor %}
									</ul>
								</li>
							{% elseif mod %}
								<li class="show-for-small-only"><a href="{{ url('admin/list/' ~ key) }}">{{ mod }}</a></li>
							{% endif %}
						{% endfor %}
					</ul>
				</section>
			</nav>
		</div>
	</header>

	<div class="row fluid">
		<nav class="medium-2 columns hide-for-small-only" id="sidebar">
			<ul class="side-nav">
				{% for key,mod in _MODS %}
					{% if mod is empty %}
						<li class="divider"></li>
					{% else %}
						{% if mod is iterable %}
							<li class="title">{{ key }}</li>
							{% for slug,name in mod %}
								<li class="mod {{ active(slug) }}">
									<a href="{{ url('admin/list/' ~ slug) }}">{{ name }}</a>
									{% if active(slug) %}<div class="active-pitito"></div>{% endif %}
								</li>
							{% endfor %}
						{% else %}
							<li class="mod alone {{ active(key) }}">
								<a href="{{ url('admin/list/' ~ key) }}">{{ mod }}</a>
								{% if active(key) %}<div class="active-pitito"></div>{% endif %}
							</li>
						{% endif %}
					{% endif %}
				{% endfor %}
			</ul>
			<div id="copy">Powered by <a href="http://gruponsnc.com.ar" target="_blank" title="Grupo NSNC">NSNC</a></div>
		</nav>
		<div class="small-12 medium-10 columns">
			<section id="content">{% block section %}{% endblock %}</section>
		</div>
	</div>
	<div id="modals">
		<div id="loading" class="reveal-modal tiny text-center" data-reveal data-options="close_on_background_click:false">
			<p>Cargando...</p>
		</div>
		<div id="confirm" class="reveal-modal small text-center" data-reveal data-options="close_on_background_click:false">
			<p>Está seguro que desea continuar?</p>
			<a href="#" class="false button secondary radius">No</a>
			<a href="#" class="true button alert radius">Si</a>
		</div>
	</div>
	<script src="{{ asset('js/vendor/jquery.js') }}"></script>
	<script src="{{ asset('js/vendor/fastclick.js') }}"></script>
	<script src="{{ asset('js/foundation.min.js') }}"></script>
	<script src="{{ asset('js/ckeditor/ckeditor.js') }}"></script>
	<script src="{{ asset('js/jquery-ui-1.10.4.custom.min.js') }}"></script>
	<script src="{{ asset('js/jquery-ui-timepicker-addon.js') }}"></script>
	<script src="{{ asset('js/jquery.ui.datepicker-es.js') }}"></script>
	<script src="{{ asset('js/scripts.backend.js') }}"></script>
	<script src="{{ asset('js/jquery.iframe-transport.js') }}"></script>
	<script src="{{ asset('js/jquery.fileupload.js') }}"></script>
	<script>
		$(document).foundation();
		$(function () {
			Barista.init();
			$('.datetimepicker').datetimepicker({
				dateFormat: 'dd-mm-yy'
			});
			$('.sortable').sortable({
				placeholder: "ui-state-highlight",
				axis: 'y',
				update: function (event, ui) {
					Barista.Backend.saveOrder();
				}
			});
			$('.sortable').disableSelection();
		});
	</script>
</body>
</html>
