{% extends 'base.backend.html.twig' %}
{% block section %}
<div class="row" id="comanda">
	{% for r in result %}
		{% set item = r.item %}
		{% set o = r.order %}
		{% set detail = r.detail %}
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="client-content" contenteditable="true">
						<h4>Pedido número <span class="label label-default">{{ o.getNumeroPedido }}</span> para <strong>{{ o.idCliente.nombre }}</strong></h4>
						<table class="table table-bordered table-responsive table-striped">
							<thead>
								<tr>
									<th>Producto</th>
									<th>Cantidad</th>
								</tr>
							</thead>
							<tbody>
								{% for item in detail[o.id] %}
									{% if item.categoria in [1,2] %}
										<tr>
											<td>{{ item.producto }}</td>
											<td>{{ item.cantidad }}</td>
										</tr>
									{% elseif item.categoria == 6 %}
										{% for d in item.detalle %}
											<tr>
												<td>{{ d.idproducto.nombre }}</td>
												<td>{% if item.cantidad > 1 %}{{ item.cantidad}} x {% endif %}{{ d.cantidad }}</td>
											</tr>
										{% endfor %}
									{% endif %}
								{% endfor %}
								{% if o.regalo %}
									<tr>
										<td>Naranja Jugo</td>
										<td>1 kg</td>
									</tr>
								{% endif %}
							</tbody>
						</table>
						{% if o.observaciones %}
							<h5><b>Observaciones:</b></h5>
							<p>{{ o.observaciones }}</p>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		<div class="pb"></div>
	{% endfor %}
{% endblock %}