<!doctype html>
<html lang="es">
<head>
	<meta charset="utf-8" />
	<meta name="author" content="Grupo NSNC">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>{{ _PROJECT }}</title>
	<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}?v=3" />
	<link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}" />
	<link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap-theme.min.css') }}" />
	<link rel="stylesheet" href="{{ asset('css/styles.backend.css') }}" />
</head>
<body>
	<div class="container" id="login">
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<img src="{{ asset('img/logo-login.png') }}" class="img-responsive" alt="Responsive image">
				<div class="panel panel-default">
					<div class="panel-heading">Por favor, ingrese usuario y contrase침a</div>
					<div class="panel-body">
						<form action="{{ url('login') }}" method="POST" novalidate>
							<div class="form-group">
								<input class="form-control" type="text" name="username" placeholder="Nombre de Usuario" required />
							</div>
							<div class="form-group">
								<input class="form-control" type="password" name="password" placeholder="Contrase침a" required />
							</div>
							<div class="form-group">
								<input type="submit" class="btn btn-info btn" value="Ingresar" />
							</div>
						</form>
					</div>
				</div>
				{% if error %}
					<div class="alert alert-danger">Usuario y/o contrase침a inv치lidos</div>
				{% endif %}
			</div>
		</div>
	</div>
	<script src="{{ asset('js/vendor/jquery.js') }}"></script>
	<script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
</body>
</html>
