{% extends 'base.backend.html.twig' %}
{% block section %}
<div class="row" id="comanda">
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading hidden-print">
				<h3 class="panel-title">Comanda para el cliente</h3>
			</div>
			<div class="panel-body">
				<div class="client-content" contenteditable="true">
					<div class="clearfix">
						<div class="c1 pull-left">
							<h4>Gracias por elegir Fresca Vita!</h4>
							<p><strong>{{ order.idCliente.nombre }}</strong>, este es el detalle de tu pedido. Si al momento de recibirlo faltó algo o algún producto no llegó en buen estado, no dudes en escribirnos a info@fresca-vita.com</p>
							<p>Qué lo disfrutes!</p>
						</div>
						<div class="c2 pull-left">
							<img src="{{ asset('img/logo-sm.png') }}" alt="Responsive image">
						</div>
					</div>
					<h3>Pedido número <span class="label label-default">{{ order.getNumeroPedido + 30 }}</span>{% if order.getDineroMail or order.pagado %} <span class="label label-success">Pagado</span>{% endif %}</h3>
					{% set arr = order.fechaEntrega|split('-') %}
					{% set entrega = order.fechaEntrega %}
					<p>
					{{ entrega }} de {{ order.getFranjaHoraria }} <br>
					{{ order.getIdDomicilio.getDireccionPrimaria }} {{ order.getIdDomicilio.getDireccionSecundaria }}, {{ order.getIdDomicilio.getIdBarrio.getNombre }} <br>
					{% if order.getIdDomicilio.getTelefono %}
						Tel. {{ order.getIdDomicilio.getTelefono }} <br>
					{% endif %}
					{% if order.getIdDomicilio.getCelular %}
						Cel. {{ order.getIdDomicilio.getCelular }} <br />
					{% endif %}
					</p>
					{% if order.getComentario != "" %}
						<p><strong>Observaciones:</strong> {{ order.getComentario }}</p>
					{% endif %}
						<br />
					<table class="table table-bordered table-responsive table-striped">
						<thead>
							<tr>
								<th>Producto</th>
								<th>Cantidad</th>
								<th>Precio*</th>
							</tr>
						</thead>
						<tbody>
							{% for item in detail[order.id] %}
								<tr>
									<td>{{ item.producto }}</td>
									<td>{{ item.cantidad }}</td>
									<td>$ {{ item.subtotal|number_format(2, ',', '.') }}</td>
								</tr>
							{% endfor %}
							{% if order.descuento %}
								<tr class="success">
									<td>Beneficio {{ order.idcliente.idempresa.nombre }} {{ order.descuento }}%</td>
									<td>&nbsp;</td>
									<td>-$ {{ ((100 * order.subtotal / (100 - order.descuento)) - order.subtotal)|number_format(2, ',', '.') }}</td>
								</tr>
							{% endif %}
							{% if order.regalo %}
								<tr class="warning">
									<td>Regalo Fresca Vita (1 kg Naranja Jugo)</td>
									<td>&nbsp;</td>
									<td>$ 0,00</td>
								</tr>
							{% endif %}
							<tr class="info">
								<td>Envío a {{ order.iddomicilio.idbarrio.nombre }}</td>
								<td>&nbsp;</td>
								<td>$ {{ order.costoenvio|number_format(2, ',', '.') }}</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td><strong>Total</strong></td>
								<td><strong>$ {{ (order.getSubtotal + order.getCostoEnvio)|number_format(2, ',', '.') }}</strong></td>
							</tr>
						</tbody>
					</table>
					<small>*Los precios individuales por producto pueden haber sido modificados desde el momento que realizó el pedido hasta que fue entregado, sin embargo, el total se mantiene constante desde el momento que el pedido es generado en el sistema.</small>
				</div>
			</div>
		</div>
		<div class="hidden-print">
			<div class="alert alert-danger">El total actual* del pedido es <strong>$ {{ subtotal|number_format(2) }}</strong></div>
			<small>*El total actual se calcula con los precios del día, no al momento de generar el pedido</small>
		</div>
	</div>
	<div class="pb"></div>
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading hidden-print">
				<h3 class="panel-title">Comanda para el proveedor</h3>
			</div>
			<div class="panel-body">
				<div class="client-content" contenteditable="true">
					<h4>Pedido número <span class="label label-default">{{ order.getNumeroPedido }}</span> para <strong>{{ order.idCliente.nombre }}</strong></h4>
					<table class="table table-bordered table-responsive table-striped">
						<thead>
							<tr>
								<th>Producto</th>
								<th>Cantidad</th>
							</tr>
						</thead>
						<tbody>
							{% for item in detail[order.id] %}
								{% if item.categoria in [1,2] %}
									<tr>
										<td>{{ item.producto }}</td>
										<td>{{ item.cantidad }}</td>
									</tr>
								{% elseif item.categoria == 6 %}
									{% for d in item.detalle %}
										<tr>
											<td>{{ d.idproducto.nombre }}</td>
											<td>{% if item.cantidad > 1 %}{{ item.cantidad}} x {% endif %}{{ d.cantidad }}</td>
										</tr>
									{% endfor %}
								{% endif %}
							{% endfor %}
							{% if order.regalo %}
								<tr>
									<td>Naranja Jugo</td>
									<td>1 kg</td>
								</tr>
							{% endif %}
						</tbody>
					</table>
					{% if order.observaciones %}
						<h5><b>Observaciones:</b></h5>
						<p>{{ order.observaciones }}</p>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}