{% extends 'base.backend.html.twig' %}

{% block section %}
<div class="row" id="prices">
	<div id="prices-submit" class="btn btn-lg btn-success">Guardar</div>
	<hr>
	<ul class="nav nav-pills nav-justified" role="tablist">
		{% for id, cat in categories %}
			{% set class = 1 == loop.index ? 'active' : '' %}
			<li class="{{ class }}">
				<a href="#tab{{ id }}" data-toggle="tab" role="tab">{{ cat.nombre }}</a>
			</li>
		{% endfor %}
	</ul>
	<div class="tab-content">
		{% for id, cat in categories %}
			{% set display = loop.index > 1 ? 'display:none' : '' %}
			{% set class = 1 == loop.index ? 'active' : '' %}
			<div class="tab-pane {{ class }}" id="tab{{ id }}">
				<table class="table table-responsive table-striped">
					{% if 6 != id %}
						<thead>
							<tr>
								<th width="20">&nbsp;</th>
								<th width="">Producto</th>
								<th width="100">Unidad 1</th>
								<th width="100">Precio 1</th>
								<th width="100">Unidad 2</th>
								<th width="100">Precio 2</th>
							</tr>
						</thead>
						<tbody>
						{% for pid,name in cat.productos %}
							<tr>
								<td><span data-id="{{ pid }}" data-en="Productos" data-prop="visible" class="toggleflag glyphicon glyphicon-ok {{ products[pid].visible == 1 ? '' : 'null' }}"></span></td>
								<td class="name-field">{{ products[pid].nombre }}</td>
								{% set i = 0 %}
								{% for u in products[pid].unidades %}
									<td class="detail-field">{{ u.defecto }} {{ u.detalle_unidad }}</td>
									<td class="price-field">$ <span class="label label-warning price" data-uid="{{ u.id }}" contenteditable="true">{{ u.precio }}</span></td>
									{% set i = loop.index %}
								{% endfor %}
								{% if 1 == i %}
									<td class="detail-field">-</td>
									<td class="price-field">-</td>
								{% endif %}
							</tr>
						{% endfor %}
						</tbody>
					{% else %}
						<thead>
							<tr>
								<th width="">Combo</th>
								<th width="100">Precio</th>

							</tr>
						</thead>
						<tbody>
						{% for id, combo in combos %}
							{% set class = 1 == loop.index ? 'noborder' : '' %}
							<tr class="{{ class }}">
								<td class="name-field">{{ combo.nombre }}</td>
								<td class="price-field">$ <span class="label label-warning combo-price" data-id="{{ id }}" contenteditable="true">{{ combo.precio }}</span></td>
							</tr>
						{% endfor %}
						</tbody>
					{% endif %}
				</table>
			</div>
		{% endfor %}
	</div>
</div>
{% endblock %}