{% extends 'base.backend.html.twig' %}
{% block section %}
<h4>Filtrar por período (realizados):</h4>
<form action="{{ url('admin/stats') }}" method="POST" novalidate>
	<div class="row">
		<div class="col-md-3">
			<div class="form-group">
				<div class="input-group">
					<div class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></div>
					<input type="text" value="{{ from }}" name="from" placeholder="Desde..." class="form-control datepicker">
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group">
				<div class="input-group">
					<div class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></div>
					<input type="text" value="{{ to }}" name="to" placeholder="Hasta..." class="form-control datepicker">
				</div>
			</div>
		</div>
		<div class="col-md-2">
			<div class="form-group">
				<input type="submit" value="Filtrar" class="form-control btn btn-primary">
			</div>
		</div>
	</div>
</form>
<hr>
{% if npedidos %}
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Sobre pedidos</h3>
				</div>
				<div class="panel-body">
					<ul class="list-group">
						<li class="list-group-item">Realizados <span class="badge">{{ npedidos }}</span></li>
						{% if mpedidos[100] %}
						<li class="list-group-item">Entre $100 y $130 <span class="badge">{{ mpedidos[100] }}</span><span class="badge badge-info">${{ (ppedidos[100]/mpedidos[100])|number_format(2, ',', '.') }}</span></li>
						{% endif %}
						{% if mpedidos[130] %}
						<li class="list-group-item">Entre $131 y $160 <span class="badge">{{ mpedidos[130] }}</span><span class="badge badge-info">${{ (ppedidos[130]/mpedidos[130])|number_format(2, ',', '.') }}</span></li>
						{% endif %}
						{% if mpedidos[160] %}
						<li class="list-group-item">Entre $161 y $200 <span class="badge">{{ mpedidos[160] }}</span><span class="badge badge-info">${{ (ppedidos[160]/mpedidos[160])|number_format(2, ',', '.') }}</span></li>
						{% endif %}
						{% if mpedidos[200] %}
						<li class="list-group-item">Mayor a $200 <span class="badge">{{ mpedidos[200] }}</span><span class="badge badge-info">${{ (ppedidos[200]/mpedidos[200])|number_format(2, ',', '.') }}</span></li>
						{% endif %}
						<li class="list-group-item">Total<span class="badge badge-success">${{ total|number_format(0, ',', '.') }}</span></li>
						<li class="list-group-item">Pedido promedio <span class="badge">${{ (total/npedidos)|number_format(2, ',', '.') }}</span></li>
						{% if mp.cant %}
							<li class="list-group-item">Cant. MercadoPago <span class="badge">{{ mp.cant }}</span></li>
							<li class="list-group-item">Total MP <span class="badge">${{ mp.total|number_format(0, ',', '.') }}</span></li>
							<li class="list-group-item">Promedio MP <span class="badge">${{ (mp.total/mp.cant)|number_format(2, ',', '.') }}</span></li>
							<li class="list-group-item">Promedio NO MP <span class="badge">${{ ((total-mp.total)/(npedidos-mp.cant))|number_format(2, ',', '.') }}</span></li>
						{% endif %}
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Sobre clientes</h3>
				</div>
				<div class="panel-body">
					<ul class="list-group">
						<li class="list-group-item">Cantidad <span class="badge">{{ nclientes }}</span></li>
						<li class="list-group-item">No pidieron <span class="badge">{{ qpedidos[0] }}</span></li>
						<li class="list-group-item">Pidieron al menos una vez <span class="badge">{{ nclientesp }}</span></li>
						<li class="list-group-item">Pidieron solo 1 vez <span class="badge">{{ qpedidos[1] }}</span></li>
						<li class="list-group-item">Pidieron solo 2 veces <span class="badge">{{ qpedidos[2] }}</span></li>
						<li class="list-group-item">Pidieron entre 3 y 5 veces <span class="badge">{{ qpedidos[5] }}</span></li>
						<li class="list-group-item">Pidieron más de 5 veces <span class="badge">{{ qpedidos[6] }}</span></li>
						<li class="list-group-item">Promedio real* <span class="badge">{{ (npedidos / nclientesp)|number_format(2, ',') }}</span></li>
						<li class="list-group-item">Promedio total** <span class="badge">{{ (npedidos / nclientes)|number_format(2, ',') }}</span></li>
					</ul>
				</div>
				<div class="panel-footer">
					<small>*Promedio teniendo en cuenta los clientes que pidieron</small><br>
					<small>*Promedio teniendo en cuenta todos los clientes</small>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Pedidos por barrio (top 10)</h3>
				</div>
				<div class="panel-body">
					<ul class="list-group">
						{% for n,b in bpedidos|slice(0,10) %}
							<li class="list-group-item">{{ n|letters(16) }} <span class="badge">{{ b.q }}</span> <span class="badge badge-success">${{ b.t|number_format(0, ',', '.') }}</span></li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-9 col-md-push-3">
			<div class="graph">
				{% set x = '' %}
				{% set y = 0 %}
				{% set avg = 0 %}
				{% set avg_in = 0 %}
				{% set max = 0 %}
				{% set max_in = 0 %}
				{% set min = 999999 %}
				{% set min_in = 999999 %}
				<div class="graph-area">
					{% set months = ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'] %}
					{% for k,v in fpedidos['r'] %}
						{% set tooltip = 'Realizados: ' ~ v.q ~ ' - $' ~ v.t|number_format(0, ',', '.') ~ '<br>' ~ 'Entregados: ' ~ fpedidos['e'][k].q  ~ ' - $' ~ fpedidos['e'][k].t|number_format(0, ',', '.')%}
						<div class="graph-point" data-y="{{ v.q }}" title="{{ tooltip|raw }}"></div>
						<div class="graph-point e" data-y="{{ fpedidos['e'][k].q }}"></div>
						{% set x = x ~ '<span>' ~ months[k - 1] ~ '</span>' %}
						{% set max = v.q > max ? v.q : max %}
						{% set y = v.q > y ? v.q : y %}
						{% set y = fpedidos['e'][k].q > y ? fpedidos['e'][k].q : y %}
						{% set max_in = v.t > max_in ? v.t : max_in %}
						{% set min = v.q < min ? v.q : min %}
						{% set min_in = v.t < min_in ? v.t : min_in %}
						{% set avg = avg + v.q %}
						{% set avg_in = avg_in + v.t %}
					{% endfor %}
					{% set avg = avg / fpedidos['r']|length %}
					{% set avg_in = avg_in / fpedidos['r']|length %}
				</div>
				<div class="graph-x">{{ x|raw }}</div>
				<div class="graph-y" data-max="{{ y }}"></div>
			</div>
		</div>
		<div class="col-md-3 col-md-pull-9">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Pedidos realizados por mes</h3>
				</div>
				<div class="panel-body">
					<ul class="list-group">
						<li class="list-group-item">Cantidad prom. <span class="badge">{{ avg|round }}</span></li>
						<li class="list-group-item">Mayor cantidad <span class="badge">{{ max }}</span></li>
						<li class="list-group-item">Menor cantidad <span class="badge">{{ min }}</span></li>
						<li class="list-group-item">Ingreso prom. <span class="badge">${{ avg_in|number_format(0, ',', '.') }}</span></li>
						<li class="list-group-item">Mayor ingreso <span class="badge">${{ max_in|number_format(0, ',', '.') }}</span></li>
						<li class="list-group-item">Menor ingreso <span class="badge">${{ min_in|number_format(0, ',', '.') }}</span></li>
					</ul>
				</div>
				<div class="panel-footer">
					<span class="label label-primary">Entregados</span>
				</div>
			</div>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-9 col-md-push-3">
			<div class="graph">
				{% set x = '' %}
				{% set y = 0 %}
				{% set avg = 0 %}
				{% set max = 0 %}
				{% set min = 999999 %}
				{% set avg_e = 0 %}
				{% set max_e = 0 %}
				{% set min_e = 999999 %}
				<div class="graph-area">
					{% for k,v in fpedidos['d'] %}
						{% set tooltip = 'Realizados: ' ~ v ~ '<br>' ~ 'Entregados: ' ~ fpedidos['ed'][k] %}
						<div class="graph-point" data-y="{{ v }}" title="{{ tooltip|raw }}"></div>
						<div class="graph-point e" data-y="{{ fpedidos['ed'][k] }}"></div>
						{% set x = x ~ '<span>' ~ k ~ '</span>' %}
						{% set max = v > max ? v : max %}
						{% set y = v > y ? v : y %}
						{% set y = fpedidos['ed'][k] > y ? fpedidos['ed'][k] : y %}
						{% set min = v < min ? v : min %}
						{% set avg = avg + v %}
						{% set max_e = fpedidos['ed'][k] > max_e ? fpedidos['ed'][k] : max_e %}
						{% set min_e = fpedidos['ed'][k] < min_e ? fpedidos['ed'][k] : min_e %}
						{% set avg_e = avg_e + fpedidos['ed'][k] %}
					{% endfor %}
					{% set avg = avg / fpedidos['d']|length %}
					{% set avg_e = avg_e / fpedidos['d']|length %}
				</div>
				<div class="graph-x">{{ x|raw }}</div>
				<div class="graph-y" data-max="{{ y }}"></div>
			</div>
		</div>
		<div class="col-md-3 col-md-pull-9">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Pedidos por día del mes</h3>
				</div>
				<div class="panel-body">
					<ul class="list-group">
						<li class="list-group-item">Cantidad prom. <span class="badge">{{ avg|round }}</span></li>
						<li class="list-group-item">Mayor cantidad <span class="badge">{{ max }}</span></li>
						<li class="list-group-item">Menor cantidad <span class="badge">{{ min }}</span></li>
						<li class="list-group-item">Cantidad prom. <span class="badge badge-primary">{{ avg_e|round }}</span></li>
						<li class="list-group-item">Mayor cantidad <span class="badge badge-primary">{{ max_e }}</span></li>
						<li class="list-group-item">Menor cantidad <span class="badge badge-primary">{{ min_e }}</span></li>
					</ul>
				</div>
				<div class="panel-footer">
					<span class="label label-default">Realizados</span>
					<span class="label label-primary">Entregados</span>
				</div>
			</div>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-9 col-md-push-3">
			<div class="graph">
				{% set x = '' %}
				{% set y = 0 %}
				{% set avg = 0 %}
				{% set max = 0 %}
				{% set min = 999999 %}
				{% set avg_e = 0 %}
				{% set max_e = 0 %}
				{% set min_e = 999999 %}
				<div class="graph-area">
					{% set days = ['Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado', 'Domingo'] %}
					{% for k,v in fpedidos['w'] %}
						{% set tooltip = 'Realizados: ' ~ v ~ '<br>' ~ 'Entregados: ' ~ fpedidos['ew'][days[k - 1]] %}
						<div class="graph-point" data-y="{{ v }}" title="{{ tooltip|raw }}"></div>
						<div class="graph-point e" data-y="{{ fpedidos['ew'][days[k - 1]] }}"></div>
						{% set x = x ~ '<span>' ~ days[k - 1] ~ '</span>' %}
						{% set max = v > max ? v : max %}
						{% set y = v > y ? v : y %}
						{% set y = fpedidos['ew'][days[k - 1]] > y ? fpedidos['ew'][days[k - 1]] : y %}
						{% set min = v < min ? v : min %}
						{% set avg = avg + v %}
						{% set max_e = fpedidos['ew'][days[k - 1]] > max_e ? fpedidos['ew'][days[k - 1]] : max_e %}
						{% if fpedidos['ew'][days[k - 1]] %}
						{% set min_e = fpedidos['ew'][days[k - 1]] < min_e ? fpedidos['ew'][days[k - 1]] : min_e %}
						{% endif %}
						{% set avg_e = avg_e + fpedidos['ew'][days[k - 1]] %}
					{% endfor %}
					{% set avg = avg / fpedidos['w']|length %}
					{% set avg_e = avg_e / fpedidos['w']|length %}
				</div>
				<div class="graph-x">{{ x|raw }}</div>
				<div class="graph-y" data-max="{{ y }}"></div>
			</div>
		</div>
		<div class="col-md-3 col-md-pull-9">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Pedidos por día de la semana</h3>
				</div>
				<div class="panel-body">
					<ul class="list-group">
						<li class="list-group-item">Cantidad prom. <span class="badge">{{ avg|round }}</span></li>
						<li class="list-group-item">Mayor cantidad <span class="badge">{{ max }}</span></li>
						<li class="list-group-item">Menor cantidad <span class="badge">{{ min }}</span></li>
						<li class="list-group-item">Cantidad prom. <span class="badge badge-primary">{{ avg_e|round }}</span></li>
						<li class="list-group-item">Mayor cantidad <span class="badge badge-primary">{{ max_e }}</span></li>
						<li class="list-group-item">Menor cantidad <span class="badge badge-primary">{{ min_e }}</span></li>
					</ul>
				</div>
				<div class="panel-footer">
					<span class="label label-default">Realizados</span>
					<span class="label label-primary">Entregados</span>
				</div>
			</div>
		</div>
	</div>
{% else %}
	<p>No se registran pedidos en el período seleccionado.</p>
{% endif %}
{% endblock %}
{% block scripts %}
<script>
	$(function(){
		$('.graph').each(function () {
			var $y = $(this).find('.graph-y'),
				$x = $(this).find('.graph-x'),
				$points = $(this).find('.graph-point');
			var max = $y.data('max'),
				top = width = aux = height = 0;
			// bars width
			aux = $x.find('span').size();
			width = 100 / aux;
			$x.find('span').css('width', width - 0.5 + '%');
			$points.css('width', (width / 2) + '%');
			// bars height & left
			var aux = 0;
			$points.each(function () {
				height = +$(this).data('y') * 100 / max;
				$(this).css({
					height: height + '%',
					left: width / 2 * aux + '%'
				});
				if ($(this).hasClass('e')) {
					$(this).css({
						width: width / 4 + '%'
					});
				}
				aux++;
			});
		});
		$('.graph').tooltip({
			html: true,
			placement: 'left',
			selector: '.graph-point:not(.e)'
		});
	});
</script>
{% endblock %}