{% extends 'base.backend.html.twig' %}

{% block section %}
	{% set action = edit ? 'admin/update/' ~ entityName ~ '/' ~ entity.id : 'admin/create/' ~ entityName %}
	{% include 'form.header.widget.html.twig' with { title: 'Post' } %}
	<div id="form">
		<form action="{{ url(action) }}" method="POST" novalidate>
			<label>Flags</label>
			<div class="row">
				<div class="col-md-2">
					{% include 'form.checkbox.widget.html.twig' with {
						label: 'Destacado',
						name: 'Starred',
						value: entity.starred,
					} %}
				</div>
				<div class="col-md-2">
					{% include 'form.checkbox.widget.html.twig' with {
						checked: 'checked',
						label: 'Visible',
						name: 'Visible',
						value: entity.visible,
					} %}
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-2">
					{% include 'form.input.widget.html.twig' with {
						errormsg: 'Valor inválido',
						example: 'Entre 0 y 5',
						label: 'Rating',
						max: 5,
						min: 0,
						name: 'Rating',
						step: 0.5,
						type: 'number',
						value: entity.rating,
					} %}
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">
					{% include 'form.input.widget.html.twig' with {
						label: 'Título',
						name: 'Title',
						value: entity.title,
						required: 'required',
					} %}
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">
					{% include 'form.input.widget.html.twig' with {
						label: 'Subtítulo',
						name: 'Subtitle',
						value: entity.subtitle,
					} %}
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">
					{% include 'form.fileupload.widget.html.twig' with {
						label: 'Cover',
						name: 'Cover',
						showimage: true,
						value: entity.cover,
					} %}
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					{% include 'form.input.widget.html.twig' with {
						label: 'Fecha', class: 'datetimepicker',
						name: 'PublicDate',
						required: 'required',
						value: entity.publicdate|date('d-m-Y H:i'),
					} %}
				</div>
				<div class="col-md-3">
					{% include 'form.select.widget.html.twig' with {
						key: 'id',
						name: 'IdCategory',
						label: 'Categoría',
						options: data.categories,
						prop: 'name',
						selected: entity.category.id,
						value: entity.category,
					} %}
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">
					{% include 'form.fileupload.widget.html.twig' with {
						multiple: 'multiple',
						name: 'Images',
						label: 'Imágenes',
						value: data.img,
					} %}
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">
					{% include 'form.tags.widget.html.twig' with {
						example: 'Separados por una coma seguida de un espacio',
						name: 'Tags',
						label: 'Tags (sin tipo)',
						placeholder: 'John Paul, Robert, Jimmy, John',
						tags: data.tags[0],
						value: entity.tag,
					} %}
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">
					{% include 'form.tags.widget.html.twig' with {
						example: 'Separados por una coma seguida de un espacio',
						name: 'Tags-4',
						label: 'Colores (tags con tipo)',
						placeholder: 'Azul, Verde, Blanco, Negro',
						tagtype: 4,
						tags: data.tags[4],
						value: entity.tag,
					} %}
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					{% include 'form.fileupload.widget.html.twig' with {
							label: 'Documentos', value: data.file,
							name: 'Files', multiple: 'multiple',
							filetype: 'doc'
						}
					%}
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					{% include 'form.input.widget.html.twig' with {
						name: 'Video',
						label: 'Video',
						placeholder: 'Código del video',
						value: entity.video,
					} %}
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					{% include 'form.textarea.widget.html.twig' with {
						name: 'Map',
						label: 'Mapa',
						placeholder: 'Código de embedado <iframe>',
						value: entity.map,
					} %}
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 columns">
					{% include 'form.bbcode.widget.html.twig' with {
						name: 'Summary',
						label: 'Resumen',
						value: entity.summary,
					} %}
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 columns">
					{% include 'form.bbcode.widget.html.twig' with {
						name: 'Text',
						label: 'Texto',
						value: entity.text,
					} %}
				</div>
			</div>
				<legend>Campos Personalizados (sin tipo)</legend>
				{% for cf in data.cf[0] %}
					<div class="cf row">
						<div class="small-4 columns">
							<div class="row collapse">
								<div class="small-2 medium-1 columns">
									<a href="#" class="button alert postfix rmcf">&times;</a>
								</div>
								<div class="small-10 medium-11 columns">
									{% include 'form.cf.widget.html.twig' with {
											placeholder: 'Título', name: 'Title',
											value: cf.title, index: loop.index
										}
									%}
								</div>
							</div>
						</div>
						<div class="small-4 columns">
							{% include 'form.cf.widget.html.twig' with {
									placeholder: 'Valor', name: 'Value',
									value: cf.value, index: loop.index
								}
							%}
						</div>
						<div class="small-4 columns">
							{% include 'form.cf.widget.html.twig' with {
									placeholder: 'Atributos', name: 'Attr',
									value: cf.attribute, index: loop.index
								}
							%}
						</div>
					</div>
				{% endfor %}
				<a href="#" class="addcf button radius secondary tiny" data-index="{{ data.cf[0]|length }}">Agregar</a>
				<legend>Links (campos personalizados con tipo)</legend>
				{% for cf in data.cf[1] %}
					<div class="cf row">
						<div class="small-4 columns">
							<div class="row collapse">
								<div class="small-2 medium-1 columns">
									<a href="#" class="button alert postfix rmcf">&times;</a>
								</div>
								<div class="small-10 medium-11 columns">
									{% include 'form.cf.widget.html.twig' with {
											placeholder: 'Título', name: 'Title',
											value: cf.title, index: loop.index, type: 'Link'
										}
									%}
								</div>
							</div>
						</div>
						<div class="small-5 columns">
							<div class="row collapse">
								<div class="small-3 large-2 columns">
									<span class="prefix">http://</span>
								</div>
								<div class="small-9 large-10 columns">
									{% include 'form.cf.widget.html.twig' with {
											placeholder: 'Url', name: 'Value',
											value: cf.value, index: loop.index, type: 'Link'
										}
									%}
								</div>
							</div>
						</div>
						<div class="small-3 columns">
							{% include 'form.cf.widget.html.twig' with {
									placeholder: 'Target', name: 'Attr',
									value: cf.attribute, index: loop.index, type: 'Link'
								}
							%}
						</div>
						<input type="hidden" name="{{ entityName }}[CustomFieldLink][{{ loop.index }}][Type]" value="1">
					</div>
				{% endfor %}
				<a href="#" class="addcf button radius secondary tiny" data-index="{{ data.cf[1]|length }}">Agregar</a>
			{% include 'form.buttons.widget.html.twig' with { deletevalue: entity.title } %}
		</form>
	</div>
{% endblock %}

