{% extends 'base.backend.html.twig' %}

{% block section %}
	{% set action = edit ? 'admin/update/' ~ entityName ~ '/' ~ entity.id : 'admin/create/' ~ entityName %}
	{% include 'form.header.widget.html.twig' with { title: 'Post' } %}
	<div id="form">
		<form action="{{ url(action) }}" method="POST" data-abide>
			<!-- # -->
			<div class="row">
				<div class="large-4 small-9 columns">
					<fieldset>
						<legend>Flags</legend>
						{% include 'form.checkbox.widget.html.twig' with {
								label: 'Destacado', value: entity.starred, name: 'Starred'
							}
						%}
						{% include 'form.checkbox.widget.html.twig' with {
								label: 'Visible', value: entity.visible,
								name: 'Visible', checked: 'checked',
							}
						%}
					</fieldset>
				</div>
				<div class="large-2 large-pull-6 small-3 columns">
					{% include 'form.input.widget.html.twig' with {
							label: 'Rating',
							value: entity.rating, name: 'Rating',
							value: entity.rating, name: 'Rating',
							type: 'number',
							pattern: 'number',
							errormsg: 'Valor inválido',
							min: 0, max: 5, step: 0.5,
							example: 'Entre 0 y 5'
						}
					%}
				</div>
			</div>
			<!-- # -->
			<div class="row">
				<div class="large-8 small-9 columns">
					{% include 'form.input.widget.html.twig' with {
							label: 'Título',
							value: entity.title, name: 'Title',
							required: 'required'
						}
					%}
				</div>
			</div>
			<!-- # -->
			<div class="row">
				<div class="large-10 small-12 columns">
					{% include 'form.input.widget.html.twig' with {
							label: 'Subtítulo',
							value: entity.subtitle, name: 'Subtitle'
						}
					%}
				</div>
			</div>
			<!-- # -->
			<div class="row">
				<div class="large-8 small-9 columns">
					{% include 'form.fileupload.widget.html.twig' with {
							label: 'Cover', value: entity.cover,
							name: 'Cover'
						}
					%}
				</div>
			</div>
			<!-- # -->
			<div class="row">
				<div class="large-3 small-5 columns">
					{% include 'form.input.widget.html.twig' with {
							label: 'Fecha', class: 'datetimepicker',
							value: entity.publicdate|date('d-m-Y H:i'), name: 'PublicDate',
							required: 'required'
						}
					%}
				</div>
				<div class="large-6 large-pull-3 small-7 columns">
					{% include 'form.select.widget.html.twig' with {
							label: 'Categoría',
							options: data.categories, selected: entity.category.id,
							optionname: 'name',
							value: entity.category, name: 'IdCategory'
						}
					%}
				</div>
			</div>
			<!-- # -->
			<div class="row">
				<div class="large-8 small-9 columns">
					{% include 'form.fileupload.widget.html.twig' with {
							label: 'Imágenes', value: data.img,
							name: 'Images', multiple: 'multiple'
						}
					%}
				</div>
			</div>
			<!-- # -->
			<div class="row">
				<div class="large-10 small-12 columns">
					{% include 'form.tags.widget.html.twig' with {
							label: 'Tags (sin tipo)',
							value: entity.tag, name: 'Tags',
							placeholder: 'John Paul, Robert, Jimmy, John',
							tags: data.tags[0],
							example: 'Separados por una coma seguida de un espacio'
						}
					%}
				</div>
			</div>
			<!-- # -->
			<div class="row">
				<div class="large-10 small-12 columns">
					{% include 'form.tags.widget.html.twig' with {
							label: 'Colores (tags con tipo)',
							value: entity.tag, name: 'Tags-4',
							placeholder: 'Azul, Verde, Blanco, Negro',
							tagtype: 4, tags: data.tags[4],
							example: 'Separados por una coma seguida de un espacio'
						}
					%}
				</div>
			</div>
			<!-- # -->
			<div class="row">
				<div class="large-8 small-9 columns">
					{% include 'form.fileupload.widget.html.twig' with {
							label: 'Documentos', value: data.file,
							name: 'Files', multiple: 'multiple',
							filetype: 'doc'
						}
					%}
				</div>
			</div>
			<!-- # -->
			<div class="row">
				<div class="large-5 small-8 columns">
					{% include 'form.input.widget.html.twig' with {
							label: 'Video (código)',
							value: entity.video, name: 'Video',
							pattern: 'alpha_numeric',
							placeholder: 'Ejemplos: YiBLBn1z1vY, 42788820',
							errormsg: 'Código inválido',
							example: 'Para Vimeo el código es numérico (ej: 42788820). Para Youtube es alfanumérico (ej:YiBLBn1z1vY)'
						}
					%}
				</div>
			</div>
			<!-- # -->
			<div class="row">
				<div class="large-6 small-12 columns">
					{% include 'form.textarea.widget.html.twig' with {
							label: 'Mapa (Google)',
							value: entity.map, name: 'Map',
							placeholder: 'Código de embedado completo (envuelto en la etiqueta <iframe>)'
						}
					%}
				</div>
			</div>
			<!-- # -->
			<div class="row">
				<div class="small-12 columns">
					{% include 'form.bbcode.widget.html.twig' with {
							label: 'Resumen',
							value: entity.summary, name: 'Summary'
						}
					%}
				</div>
			</div>
			<!-- # -->
			<div class="row">
				<div class="small-12 columns">
					{% include 'form.bbcode.widget.html.twig' with {
							label: 'Texto', placeholder: 'Contenido del post...',
							value: entity.text, name: 'Text'
						}
					%}
				</div>
			</div>
			<!-- # -->
			<fieldset>
				<legend>Campos Personalizados (sin tipo)</legend>
				{% for cf in data.cf[0] %}
					<div class="cf row">
						<div class="small-4 columns">
							<div class="row collapse">
								<div class="small-2 medium-1 columns">
									<a href="#" class="button alert postfix rmcf">&times;</a>
								</div>
								<div class="small-10 medium-11 columns">
									{% include 'form.cf.widget.html.twig' with {
											placeholder: 'Título', name: 'Title',
											value: cf.title, index: loop.index
										}
									%}
								</div>
							</div>
						</div>
						<div class="small-4 columns">
							{% include 'form.cf.widget.html.twig' with {
									placeholder: 'Valor', name: 'Value',
									value: cf.value, index: loop.index
								}
							%}
						</div>
						<div class="small-4 columns">
							{% include 'form.cf.widget.html.twig' with {
									placeholder: 'Atributos', name: 'Attr',
									value: cf.attribute, index: loop.index
								}
							%}
						</div>
					</div>
				{% endfor %}
				<a href="#" class="addcf button radius secondary tiny" data-index="{{ data.cf[0]|length }}">Agregar</a>
			</fieldset>
			<!-- # -->
			<fieldset>
				<legend>Links (campos personalizados con tipo)</legend>
				{% for cf in data.cf[1] %}
					<div class="cf row">
						<div class="small-4 columns">
							<div class="row collapse">
								<div class="small-2 medium-1 columns">
									<a href="#" class="button alert postfix rmcf">&times;</a>
								</div>
								<div class="small-10 medium-11 columns">
									{% include 'form.cf.widget.html.twig' with {
											placeholder: 'Título', name: 'Title',
											value: cf.title, index: loop.index, type: 'Link'
										}
									%}
								</div>
							</div>
						</div>
						<div class="small-5 columns">
							<div class="row collapse">
								<div class="small-3 large-2 columns">
									<span class="prefix">http://</span>
								</div>
								<div class="small-9 large-10 columns">
									{% include 'form.cf.widget.html.twig' with {
											placeholder: 'Url', name: 'Value',
											value: cf.value, index: loop.index, type: 'Link'
										}
									%}
								</div>
							</div>
						</div>
						<div class="small-3 columns">
							{% include 'form.cf.widget.html.twig' with {
									placeholder: 'Target', name: 'Attr',
									value: cf.attribute, index: loop.index, type: 'Link'
								}
							%}
						</div>
						<input type="hidden" name="{{ entityName }}[CustomFieldLink][{{ loop.index }}][Type]" value="1">
					</div>
				{% endfor %}
				<a href="#" class="addcf button radius secondary tiny" data-index="{{ data.cf[1]|length }}">Agregar</a>
			</fieldset>
			{% include 'form.buttons.widget.html.twig' with { deletevalue: entity.title } %}
		</form>
	</div>
{% endblock %}

