{% extends 'base.backend.html.twig' %}

{% block section %}
	{% set title = 'Posts' %}
	{% set deletevalue = entity.title %}
	{# -- #}
	{% set action = edit ? 'admin/update/' ~ entityName ~ '/' ~ entity.id : 'admin/create/' ~ entityName %}
	{% include 'form.header.widget.html.twig' %}
	<div id="form">
		<form action="{{ url(action) }}" method="POST" novalidate>
			<label>Flags</label>
			<div class="row">
				<div class="col-md-2">
					{% include 'form.checkbox.widget.html.twig' with {
						label: 'Destacado',
						name: 'Starred',
						value: entity.starred,
					} %}
				</div>
				<div class="col-md-2">
					{% include 'form.checkbox.widget.html.twig' with {
						checked: 'checked',
						label: 'Visible',
						name: 'Visible',
						value: entity.visible,
					} %}
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-2">
					{% include 'form.input.widget.html.twig' with {
						errormsg: 'Valor inválido',
						example: 'Entre 0 y 5',
						label: 'Rating',
						max: 5,
						min: 0,
						name: 'Rating',
						step: 0.5,
						type: 'number',
						value: entity.rating,
					} %}
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">
					{% include 'form.input.widget.html.twig' with {
						label: 'Título',
						name: 'Title',
						value: entity.title,
						required: 'required',
					} %}
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">
					{% include 'form.input.widget.html.twig' with {
						label: 'Subtítulo',
						name: 'Subtitle',
						value: entity.subtitle,
					} %}
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">
					{% include 'form.fileupload.widget.html.twig' with {
						label: 'Cover',
						name: 'Cover',
						showimage: true,
						required: "required",
						value: entity.cover,
					} %}
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					{% include 'form.input.widget.html.twig' with {
						label: 'Fecha', class: 'datetimepicker',
						name: 'PublicDate',
						required: 'required',
						value: entity.publicdate|date('d-m-Y H:i'),
					} %}
				</div>
				<div class="col-md-3">
					{% include 'form.select.widget.html.twig' with {
						key: 'id',
						name: 'IdCategory',
						label: 'Categoría',
						options: data.categories,
						prop: 'name',
						selected: entity.category.id,
						value: entity.category,
					} %}
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">
					{% include 'form.fileupload.widget.html.twig' with {
						multiple: 'multiple',
						name: 'Images',
						label: 'Imágenes',
						value: data.img,
					} %}
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">
					{% include 'form.tags.widget.html.twig' with {
						example: 'Separados por una coma seguida de un espacio',
						name: 'Tags',
						label: 'Tags (sin tipo)',
						placeholder: 'John Paul, Robert, Jimmy, John',
						tags: data.tags[0],
						value: entity.tag,
					} %}
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">
					{% include 'form.tags.widget.html.twig' with {
						example: 'Separados por una coma seguida de un espacio',
						name: 'Tags-4',
						label: 'Colores (tags con tipo)',
						placeholder: 'Azul, Verde, Blanco, Negro',
						tagtype: 4,
						tags: data.tags[4],
						value: entity.tag,
					} %}
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">
					{% include 'form.fileupload.widget.html.twig' with {
						filetype: 'doc',
						label: 'Documentos',
						multiple: 'multiple',
						name: 'Files',
						value: data.file,
					} %}
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					{% include 'form.input.widget.html.twig' with {
						name: 'Video',
						label: 'Video',
						placeholder: 'Código del video',
						value: entity.video,
					} %}
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					{% include 'form.textarea.widget.html.twig' with {
						name: 'Map',
						label: 'Mapa',
						placeholder: 'Código de embedado <iframe>',
						value: entity.map,
					} %}
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 columns">
					{% include 'form.bbcode.widget.html.twig' with {
						name: 'Summary',
						label: 'Resumen',
						value: entity.summary,
					} %}
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 columns">
					{% include 'form.bbcode.widget.html.twig' with {
						name: 'Text',
						label: 'Texto',
						value: entity.text,
						required: "required"
					} %}
				</div>
			</div>
			<hr>
			<label>Campos Personalizados (sin tipo)</label>
			{% for cf in data.cf[0] %}
				<div class="cf row">
					<div class="col-md-3">
						{% include 'form.cf.widget.html.twig' with {
							index: loop.index,
							name: 'Title',
							placeholder: 'Título',
							value: cf.title,
						} %}
					</div>
					<div class="col-md-3">
						{% include 'form.cf.widget.html.twig' with {
							index: loop.index,
							name: 'Value',
							placeholder: 'Valor',
							value: cf.value,
						} %}
					</div>
					<div class="col-md-5">
						{% include 'form.cf.widget.html.twig' with {
							index: loop.index,
							name: 'Attr',
							placeholder: 'Atributos',
							value: cf.attribute,
						} %}
					</div>
					<div class="col-md-1">
						<a href="#" class="btn btn-danger btn-sm rmcf">&times;</a>
					</div>
				</div>
			{% endfor %}
			<a href="#" class="addcf btn btn-primary small" data-index="{{ data.cf[0]|length }}"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Agregar</a>
			<hr>
			<label>Links (campos personalizados con tipo)</label>
			{% for cf in data.cf[1] %}
				<div class="cf row">
					<div class="col-md-4">
						{% include 'form.cf.widget.html.twig' with {
							index: loop.index,
							name: 'Title',
							placeholder: 'Título',
							type: 'Link',
							value: cf.title,
						} %}
					</div>
					<div class="col-md-5">
						{% include 'form.cf.widget.html.twig' with {
							index: loop.index,
							input_group: 'http://',
							name: 'Value',
							placeholder: 'www.ejemplo.com',
							type: 'Link',
							value: cf.value,
						} %}
					</div>
					<div class="col-md-2">
						{% include 'form.cf.widget.html.twig' with {
							index: loop.index,
							name: 'Attr',
							placeholder: 'Target',
							type: 'Link',
							value: cf.attribute,
						} %}
					</div>
					<div class="col-md-1">
						<a href="#" class="btn btn-danger btn-sm rmcf">&times;</a>
					</div>
					<input type="hidden" name="{{ entityName }}[CustomFieldLink][{{ loop.index }}][Type]" value="1">
				</div>
			{% endfor %}
			<a href="#" class="addcf btn btn-primary small" data-index="{{ data.cf[1]|length }}"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Agregar</a>
			{% include 'form.buttons.widget.html.twig' %}
		</form>
	</div>
{% endblock %}

