{% extends 'base.backend.html.twig' %}

{% block section %}
	{% if edit %}
		<h2>Editar Usuario</h2>
	{% else %}
		<h2>Nuevo Usuario</h2>
		{% set action = 'admin/create/' ~ entityName %}
	{% endif %}
	<a class="button secondary radius" href="{{ url('admin/list/' ~ entityName) }}" title="Volver">Volver</a>
	<div id="form">
		<form action="{{ url(action) }}" method="POST" data-abide>
			<div class="row">
				<div class="large-4 small-6 columns">
					<label>Nombre</label>
					<input required type="text" name="{{ entityName }}[Name]" value="{{ entity.name|default("")}}" {{ entity.name ? '' : 'placeholder="Nombre"' }}
						/>
					<small class="error">Campo Requerido</small>
				</div>
			</div>
			<div class="row">
				<div class="large-4 small-6 columns">
					<label>Usuario</label>
					<input autocomplete="off" required type="text" name="{{ entityName }}[Username]" value="{{ entity.username|default("")}}" {{ entity.username ? '' : 'placeholder="Nombre de Usuario"' }}
						/>
					<small class="error">Campo Requerido</small>
				</div>
			</div>
			<div class="row">
				<div class="large-4 small-6 columns">
					<label>Contraseña</label>
					<input id="password" required pattern="alpha_numeric" type="password" name="{{ entityName }}[Password]" value="{{ entity.password|default("")}}" {{ entity.password ? '' : 'placeholder="Contraseña"' }}
						/>
					<small class="error">Campo Requerido</small>
				</div>
				<div class="large-4 small-6 columns large-pull-4">
					<label>Repetir Contraseña</label>
					<input required pattern="alpha_numeric" type="password" data-equalto="password" name="password-repeat" value="{{ entity.password|default("")}}" {{ entity.password ? '' : 'placeholder="Repetir Contraseña"' }}
						/>
					<small class="error">Las contraseñas no coinciden</small>
				</div>
			</div>
			<input type="submit" class="button radius submit" value="{% if edit %}Guardar{% else %}Crear{% endif %}" />
			{% if edit %}
				{% set action = 'admin/update/' ~ entityName ~ '/' ~ entity.id %}
				<a onclick="if(confirm('Borrar {{ entity.username }}?')) return true; else return false;" href="{{ url('admin/delete/' ~ entityName ~ '/' ~ entity.id) }}" title="Borrar" class="button alert radius delete">Borrar</a>
			{% endif %}
		</form>
	</div>
{% endblock %}