{% extends 'base.backend.html.twig' %}

{% block section %}
<h2>Quote</h2>
<a class="new" href="{{ url('admin/new/' ~ entityName) }}" title="New">New</a>
<table>
	<tr>
		<th>#</th>
		<th>Text</th>
		<th>Author</th>
		<th>&nbsp;</th>
		<th>&nbsp;</th>
	</tr>
	{% for e in entity %}
		<tr>
			<td>{{ loop.index }}</td>
			<td>{{ e.text|words(8) }}</td>
			<td>{{ e.author }}</td>
			<td><a href="{{ url('admin/edit/' ~ entityName ~ '/' ~ e.id) }}" class="edit" title="Edit">Edit</a></td>
			<td><a onclick="if(confirm('Delete {{ e.title }}?')) return true; else return false;" href="{{ url('admin/delete/' ~ entityName ~ '/' ~ e.id) }}" title="Delete" class="del">Delete</a></td>
		</tr>
	{% endfor %}
</table>
{% endblock %}