{% if not edit and type == 'password' %}
	{# force required password for new entity #}
	{% set required = 'required' %}
{% endif %}
<div class="form-group">
	{% if label %}
		<label>{{ label }}</label>
	{% endif %}
	{% if input_group %}
		<div class="input-group">
			<div class="input-group-addon">{{ input_group }}</div>
	{% endif %}
	<input data-equalto="{{ equalto|default('') }}" pattern="{{ pattern|default('')}}" class="form-control {{ class|default('')}}" id="{{ id|default('') }}" {{ autocompleteoff ? 'autocomplete="off"' : '' }} {{ required|default('') }} {{ autofocus|default('') }} type="{{ type|default('text') }}" name="{{ entityName }}[{{ name }}]" value="{{ value|default('')}}" placeholder="{{ value ? '' : placeholder|default(label) }}" {{ step ? 'step=' ~ step : '' }} {{ max ? 'max=' ~ max : '' }} {{ min is defined ? 'min=' ~ min : '' }} />
	{% if input_group %}
		</div>
	{% endif %}
	{% if errormsg or required %}
		<div class="alert alert-danger error">{{ errormsg|default('Campo Requerido') }}</div>
	{% endif %}
	{% if example %}
		<p class="help-block">{{ example }}</p>
	{% endif %}
</div>