<div class="form-group">
	{% if label %}
		<label>{{ label }}</label>
	{% endif %}
	<select {{ required|default('') }} class="form-control {{ class|default('')}}" id="{{ id|default('') }}" name="{{ entityName }}[{{ name }}]">
		<option value="" {{ edit and selected ? '' : 'selected'}} disabled>Seleccionar</option>
		{% for o in options %}
			<option {{ edit and selected == o.id ? 'selected' : '' }} value="{{ o.id }}">{{ o[optionname] }}</option>
		{% endfor %}
	</select>
	{% if errormsg or required %}
		<div class="alert alert-danger error">{{ errormsg|default('Campo Requerido') }}</div>
	{% endif %}
</div>