{% if value and value is not iterable %}
	{% set value = [{'src':value}] %}
{% endif %}
{% set hv = [] %}
{% for v in value %}
	{% set hv = hv|merge([v.src]) %}
{% endfor %}
{% set hv = hv|join(', ') %}
{% if label %}
	<label>{{ label }}</label>
{% endif %}
{% set filetype = filetype|default('image') %}
<div class="file-upload-module">
	<div class="btn-container">
		<span class="btn btn-primary radius fake {{ value and not multiple ? 'secondary' : '' }}">
			<span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
			{{ value and not multiple ? 'Reemplazar' : 'Cargar' }}
		</span>
		<input {{ filetype == 'image' ? ' accept="image/*"' : '' }} class="button small fileupload {{ multiple|default('single') }} {{ filetype }}" type="file" name="{{ entityName }}-{{ name }}" {{ multiple|default('') }}/>
		<input {{ required|default("") }} type="hidden" name="{{ entityName }}[{{ name }}]" value="{{ hv|default('')}}" />
		{% if errormsg or required %}
			<div class="alert alert-danger error">{{ errormsg|default('Campo Requerido') }}</div>
		{% endif %}
	</div>
	<div class="progress">
		<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
			<span class="sr-only">0% Complete</span>
		</div>
	</div>
	<div class="upload-container {{ multiple|default('single') }}">
		{% if value %}
			{% for v in value %}
				{% if showimage %}
					<img class="img-responsive" src="{{ asset(_UPLOAD_DIR_NICE ~ '/' ~ v.src) }}" />
				{% else %}
					<span class="label label-info"><a href="{{ asset(_UPLOAD_DIR_NICE ~ '/' ~ v.src) }}" target="_blank" title="{{ v.src }}">{{ v.src }}</a><span class="remove">&times;</span></span>
				{% endif %}
			{% endfor %}
		{% endif %}
	</div>
	<div class="alerts"></div>
</div>