<div class="form-group bbcontainer">
	<label>{{ label }}</label>
	<textarea id="{{ id|default('') }}" name="{{ entityName }}[{{ name }}]" class="ckeditor {{ class|default('')}}" placeholder="{{ value ? '' : placeholder|default(label) }}" {{ required|default('') }}>{{ value|default('')}}</textarea>
	{% if errormsg or required %}
		<small class="error">{{ errormsg|default('Campo Requerido') }}</small>
	{% endif %}
</div>
