<label>{{ label }}</label>
<input data-equalto="{{ equalto|default('') }}" pattern="{{ pattern|default('')}}" class="{{ class|default('')}}" id="{{ id|default('') }}" {{ autocompleteoff ? 'autocomplete="off"' : '' }} {{ required|default('') }} {{ autofocus|default('') }} type="{{ type|default('text') }}" name="{{ entityName }}[{{ name }}]" value="{{ value|default('')}}" placeholder="{{ value ? '' : placeholder|default(label) }}"
/>
{% if errormsg or required %}
	<small class="error">{{ errormsg|default('Campo Requerido') }}</small>
{% endif %}