<h1 class="hide">{{ title }}</h1>
<div class="row">
	<div class="small-12 columns list-header">
		<div id="entityName" class="hide">{{ en }}</div>
		{% if not nocreate %}
			<a class="button radius" href="{{ url('admin/new/' ~ en) }}" title="Crear">Crear</a>
		{% endif %}
	</div>
</div>
{% if filters %}
	<div class="row">
		<div class="filters small-12 columns">
			{% for h,u in filters %}
				{% if u.active %}
					<a href="{{ url('admin/list/' ~ en) }}?o={{ pagenav.order }}&amp;d={{ pagenav.dir ? 0 : 1 }}&amp;" class="button tiny secondary radius">Remover filtro {{ u.title }} <span class="remove">&times;</span></a>
				{% else %}
					<a href="#" data-dropdown="drop-{{ u.title }}" data-options="is_hover:true" class="button dropdown tiny secondary radius">Filtrar por {{ u.title }}</a><br>
					<ul id="drop-{{ u.title }}" data-dropdown-content class="f-dropdown small">
						{% for k,v in u.values %}
							<li><a href="{{ url('admin/list/' ~ en) }}?o={{ pagenav.order }}&amp;d={{ pagenav.dir ? 0 : 1 }}&amp;w={{ h }}:{{ k }}" title="Filtrar por: {{ v }}">{{ v }}</a></li>
						{% endfor %}
					</ul>
				{% endif %}
			{% endfor %}
		</div>
	</div>
{% endif %}
{% if pagenav.results %}
	<div class="row">
		<table width="100%">
			<thead>
				<tr>
					{% for k,v in cols %}
						{% set order = k %}
						{% if '.' in k %}
							{% set arr = k|split('.') %}
							{% set order = arr[0] %}
						{% endif %}
						<th><a href="{{ url('admin/list/' ~ en) }}?o={{ order }}&amp;d={{ pagenav.dir ? 0 : 1 }}&amp;w={{ pagenav.where }}">{{ v }}</a></th>
					{% endfor %}
					{% if starred %}<th>&nbsp;</th>{% endif %}
					{% if visible %}<th>&nbsp;</th>{% endif %}
				</tr>
			</thead>
			<tbody class="{{ pagenav.order == 'sort' ? 'sortable' : '' }}">
				{% for e in entity %}
					<tr data-id="{{ e.id }}" class="{{ loop.index % 2 ? '' : 'even' }}">
						{% for k,v in cols %}
							<td>
								{% if loop.first %}
									<span><a href="{{ url('admin/edit/' ~ en ~ '/' ~ e.id) }}" class="edit" title="{{ e|get(k) }}">{{ e|get(k) }}</a></span>
									<a href="{{ url('admin/edit/' ~ en ~ '/' ~ e.id) }}" class="edit" title="Editar">Editar</a>
									<a data-value="{{ e|get(deletekey) }}" href="{{ url('admin/delete/' ~ en ~ '/' ~ e.id) }}" title="Borrar" class="del delen">Borrar</a>
								{% else %}
									<span>{{ e|get(k) }}</span>
								{% endif %}
							</td>
						{% endfor %}
						{% if starred %}
							<td class="toggleflag">
								<span data-id="{{ e.id }}" data-prop="starred" data-en="{{ entityName }}" class="starred {{ e.starred ? '' : 'null' }}"></span>
							</td>
						{% endif %}
						{% if visible %}
							<td class="toggleflag">
								<span data-id="{{ e.id }}" data-prop="visible" data-en="{{ entityName }}" class="visible {{ e.visible ? '' : 'null' }}"></span>
							</td>
						{% endif %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	{% if sort %}
		{% if pagenav.order == 'sort' %}
			<span class="example">Para ordenar mueva los elementos utilizando drag and drop.</span>
		{% else %}
			<a class="button secondary radius" href="{{ url('admin/list/' ~ en) }}?o=sort&amp;w={{ pagenav.where }}">Ordenar</a>
		{% endif %}
	{% endif %}
{% else %}
	<p class="noresults">No se encontraron resultados</p>
{% endif %}