<h1>{{ title }}</h1>
<div id="entityName" class="hide">{{ en }}</div>
<a class="button radius" href="{{ url('admin/new/' ~ en) }}" title="Crear">Crear</a>
{% if pagenav.results %}
	{% if sort %}
		{% if pagenav.order == 'sort' %}
			<span class="example">Para ordenar mueva los elementos utilizando drag & drop.</span>
		{% else %}
			<a class="button secondary radius" href="{{ url('admin/list/' ~ en) }}?o=sort">Ordenar</a>
		{% endif %}
	{% endif %}
	<div class="row">
		<table width="100%">
			<thead>
				<tr>
					{% for k,v in cols %}
						{% set order = k %}
						{% if '.' in k %}
							{% set arr = k|split('.') %}
							{% set order = arr[0] %}
						{% endif %}
						<th><a href="{{ url('admin/list/' ~ en) }}?o={{ order }}&amp;d={{ q.dir ? 0 : 1 }}">{{ v }}</a></th>
					{% endfor %}
				</tr>
			</thead>
			<tbody class="{{ pagenav.order == 'sort' ? 'sortable' : '' }}">
				{% for e in entity %}
					<tr data-id="{{ e.id }}" class="{{ loop.index % 2 ? '' : 'even' }}">
						{% for k,v in cols %}
							<td>
								{% if loop.first %}
									<span><a href="{{ url('admin/edit/' ~ en ~ '/' ~ e.id) }}" class="edit" title="{{ e|get(k) }}">{{ e|get(k) }}</a></span>
									<a href="{{ url('admin/edit/' ~ en ~ '/' ~ e.id) }}" class="edit" title="Editar">Editar</a>
									<a data-value="{{ e|get(deletekey) }}" href="{{ url('admin/delete/' ~ en ~ '/' ~ e.id) }}" title="Borrar" class="del delen">Borrar</a>
								{% else %}
									<span>{{ e|get(k) }}</span>
								{% endif %}
							</td>
						{% endfor %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% else %}
	<h4>No se encontraron resultados</h4>
{% endif %}