<h1 class="hide">{{ title }}</h1>
<div id="entityName" class="hide">{{ en }}</div>
{% if not nocreate %}
<div class="row">
	<div class="col-md-12 list-header">
		<a class="btn btn-primary btn-lg" href="{{ url('admin/new/' ~ en) }}" title="Cargar">Cargar</a>
	</div>
</div>
<hr>
{% endif %}
{% if filters or bin %}
	<div class="row">
		<div class="filters col-md-12">
			{% if bin %}
				<a href="{{ url('admin/list/' ~ en) }}{{ url_params(params, {'bin': (params.bin ? 0 : 1)}) }}" class="btn {{ params.bin ? 'btn-info' : 'btn-default' }}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Elementos eliminados</a>
			{% endif %}
			{% if filters %}
				{% for h,u in filters %}
					{% if u.values %}
						<div class="btn-group">
							{% if u.active %}
								{% set pair = h ~ ':' ~ u.active.value ~ '|' %}
								<a href="{{ url('admin/list/' ~ en) }}{{ url_params(params, {'w': pagenav.where|replace({(pair): ''})}) }}" class="btn btn-info"><span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span> {{ u.title|title }}: {{ u.values[u.active.value] }}</a>
							{% else %}
								<button class="btn btn-default dropdown-toggle" type="button" id="drop{{ u.title }}" data-toggle="dropdown" aria-expanded="true">Filtrar por {{ u.title }} <span class="caret"></span></button>
								<ul class="dropdown-menu" role="menu" aria-labelledby="drop{{ u.title }}">
									{% for k,v in u.values %}
										<li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url('admin/list/' ~ en) }}{{ url_params(params, {'w': h ~ ':' ~ k ~ '|' ~ pagenav.where }) }}" title="Filtrar por: {{ v }}">{{ v }}</a></li>
									{% endfor %}
								</ul>
							{% endif %}
						</div>
					{% endif %}
				{% endfor %}
			{% endif %}
		</div>
	</div>
	<hr>
{% endif %}
{% if search %}
	<form action="{{ url('admin/list/' ~ en) }}" method="POST">
		<div class="row">
			{% for k,s in search %}
				<div class="col-md-3">
					<div class="form-group">
						<div class="input-group">
							<div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
							<input type="text" class="form-control" placeholder="Buscar por {{ s.title }}..." name="search[{{ k }}]" value="{{ s.value }}">
						</div>
					</div>
				</div>
			{% endfor %}
			<div class="col-md-2">
				<input type="submit" class="btn btn-default" value="Buscar" />
			</div>
		</div>
	</form>
{% endif %}
{% if pagenav.results %}
	<div class="row">
		<div class="col-md-12">
			<table class="table table-responsive table-striped">
				<thead>
					<tr>
						<th style="width:10px"><input id="msAll" type="checkbox"></th>
						{% for k,v in cols %}
							{% set order = k %}
							{% if '.' in k %}
								{% set arr = k|split('.') %}
								{% set order = arr[0] %}
							{% endif %}
							{% if k == 'loop' %}
								<th {{ loop.first ? 'style="width:50px"' : '' }}>{{ v }} </th>
							{% elseif k in ['src','cover','image'] and not isfile %}
								<th>&nbsp;</th>
							{% else %}
								<th {{ loop.first ? 'style="width:50px"' : '' }}><a href="{{ url('admin/list/' ~ en) }}{{ url_params(params, {'o': order, 'd': (pagenav.dir ? 0 : 1) }) }}">{{ v }} <span class="caret"></span></a></th>
							{% endif %}
						{% endfor %}
						<th style="width:105px">&nbsp;</th>
						{% if starred %}<th style="width:20px">&nbsp;</th>{% endif %}
						{% if visible %}<th style="width:20px">&nbsp;</th>{% endif %}
						{% if en == 'User' %}<th style="width:20px">&nbsp;</th>{% endif %}
					</tr>
				</thead>
				<tbody class="{{ pagenav.order == 'sort' ? 'sortable' : '' }}">
					{% for e in entity %}
						{% set i = loop.index %}
						<tr data-id="{{ e.id }}" class="{{ loop.index % 2 ? '' : 'even' }}">
							<td class="ms"><input data-id="{{ e.id }}" type="checkbox"></td>
							{% for k,v in cols %}
								<td {{ k in ['src','cover','image'] and not isfile ? 'style="width:60px;"' : '' }}>
									{% if k == 'loop' %}
										{{ i }}
									{% elseif k in ['src','cover','image'] and not isfile %}
										<a href="{{ asset(_UPLOAD_DIR_NICE ~ '/' ~ e|get(k)) }}" target="_blank"><img style="width: 60px;" src="{{ asset(_UPLOAD_DIR_NICE ~ '/' ~ e|get(k)) }}" /></a>
									{% else %}
										<span>{{ e|get(k)|raw }}</span>
									{% endif %}
								</td>
							{% endfor %}
							<td>
								<a href="{{ url('admin/edit/' ~ en ~ '/' ~ e.id) }}" class="btn btn-primary btn-xs edit" title="Editar"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Editar</a>
								{% set sdel = '' %}
								{% if params.bin %}
									<a href="{{ url('admin/restore/' ~ en ~ '/' ~ e.id) }}" title="Restaurar" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span></a>
								{% else %}
									{% if deletekey %}
										<a data-value="{{ sdel ~ e|get(deletekey) }}" href="{{ url('admin/delete/' ~ en ~ '/' ~ e.id) }}" title="Borrar" class="btn btn-danger btn-xs del delen"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
									{% endif %}
								{% endif %}
							</td>
							{% if starred %}
								<td class="toggleflag">
									<span data-id="{{ e.id }}" data-prop="starred" data-en="{{ entityName }}" class="starred {{ e.starred ? '' : 'null' }} glyphicon glyphicon-star" aria-hidden="true"></span>
								</td>
							{% endif %}
							{% if visible %}
								<td class="toggleflag">
									<span data-id="{{ e.id }}" data-prop="visible" data-en="{{ entityName }}" class="visible {{ e.visible ? '' : 'null' }} glyphicon glyphicon-eye-open" aria-hidden="true"></span>
								</td>
							{% endif %}
							{% if en == 'User' %}
								<td>
									<a href="{{ url('admin/list/Log') }}?w=user:{{ e.id }}" title="Ver log" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Log</a>
								</td>
							{% endif %}
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<div class="row" id="massive-actions">
		<div class="col-md-8">
			{% if params.bin %}
				<a href="{{ url('admin/massive/restore/' ~ en ~ '/') }}" title="Restaurar" class="action restore green"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span> Restaurar los elementos seleccionados</a>
			{% else %}
				<a href="{{ url('admin/massive/delete/' ~ en ~ '/') }}" class="action del red"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Eliminar los elementos seleccionados</a>
			{% endif %}
			<br>
			<a href="#" class="rmsel"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>  Borrar selección</a>
		</div>
	</div>
	{% if sort %}
		<div class="row">
			<div class="col-md-12">
				{% if pagenav.order == 'sort' %}
					<p class="help-block">Para ordenar mueva los elementos utilizando drag and drop.</p>
				{% else %}
					<a class="btn btn-info btn/sm" href="{{ url('admin/list/' ~ en) }}{{ url_params(params, {'o': 'sort'}) }}">Ordenar</a>
				{% endif %}
			</div>
		</div>
		<hr>
	{% endif %}
{% else %}
	<p>No se encontraron resultados.</p>
{% endif %}