<h1 class="hide">{{ title }}</h1>
{% if not nocreate %}
<div class="row">
	<div class="col-md-12 list-header">
		<div id="entityName" class="hide">{{ en }}</div>
		<a class="btn btn-warning btn-lg" href="{{ url('admin/new/' ~ en) }}" title="Cargar">Cargar</a>
	</div>
</div>
<hr>
{% endif %}
{% if en == 'Domicilios' and q.where.idCliente %}
<div class="row">
	<div class="col-md-12 list-header">
		<a href="{{ url('admin/new/Domicilios/' ~ q.where.idCliente) }}" class="btn btn-success btn" title="Cargar Domicilio">Cargar Domicilio</a>
	</div>
</div>
<hr>
{% endif %}
{% if en == 'Pedidos' and q.customWhere %}
<div class="row">
	<div class="col-md-12 list-header">
		<a href="{{ url('admin/export/customers/' ~ q.customWhere) }}" class="btn btn-success btn" title="Exportar pedidos para cliente">Exportar pedidos para cliente</a>
		<a href="{{ url('admin/export/supplier/' ~ q.customWhere) }}" class="btn btn-warning btn" title="Exportar pedidos para proveedor">Exportar pedidos para proveedor</a>
	</div>
</div>
<hr>
{% endif %}
<!--
{% if filters %}
	<div class="row">
		<div class="filters small-12 columns">
			{% for h,u in filters %}
				{% if u.active %}
					<a href="{{ url('admin/list/' ~ en) }}?o={{ pagenav.order }}&amp;d={{ pagenav.dir ? 0 : 1 }}&amp;" class="button tiny alert radius">Remover filtro {{ u.title }} <span class="remove">&times;</span></a>
				{% else %}
					<a href="#" data-dropdown="drop-{{ u.title }}" data-options="is_hover:true" class="button dropdown tiny secondary radius">Filtrar por {{ u.title }}</a>
					<ul id="drop-{{ u.title }}" data-dropdown-content class="f-dropdown small">
						{% for k,v in u.values %}
							<li><a href="{{ url('admin/list/' ~ en) }}?o={{ pagenav.order }}&amp;d={{ pagenav.dir ? 0 : 1 }}&amp;cw={{ pagenev.customWhere }}&amp;w={{ h }}:{{ k }}" title="Filtrar por: {{ v }}">{{ v }}</a></li>
						{% endfor %}
					</ul>
				{% endif %}
			{% endfor %}
		</div>
	</div>
{% endif %}
-->
{% if search %}
	<form action="{{ url('admin/list/' ~ en) }}" method="POST">
		<div class="row">
			{% for k,s in search %}
				<div class="col-md-3">
					<div class="form-group">
						<div class="input-group">
							<div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
							<input type="text" class="form-control" placeholder="{{ s.title }}" name="search[{{ k }}]" value="{{ s.value }}">
						</div>
					</div>
				</div>
			{% endfor %}
			<div class="col-md-2">
				<input type="submit" class="btn btn-default" value="Buscar" />
			</div>
		</div>
	</form>
{% endif %}
{% if pagenav.results %}
	<div class="row">
		<div class="col-md-12">
			<table class="table table-responsive table-striped">
				<thead>
					<tr>
						{% for k,v in cols %}
							{% set order = k %}
							{% if '.' in k %}
								{% set arr = k|split('.') %}
								{% set order = arr[0] %}
							{% endif %}
							<th><a href="{{ url('admin/list/' ~ en) }}?o={{ order }}&amp;d={{ pagenav.dir ? 0 : 1 }}&amp;cw={{ pagenev.customWhere }}&amp;w={{ pagenav.where }}">{{ v }} <span class="caret"></span></a></th>
						{% endfor %}
						{% if starred %}<th>&nbsp;</th>{% endif %}
						{% if visible %}<th>&nbsp;</th>{% endif %}
						{% if en == 'Clientes' or en == 'Pedidos' %}
							<th>&nbsp;</th>
						{% endif %}
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody class="{{ pagenav.order == 'sort' ? 'sortable' : '' }}">
					{% for e in entity %}
						<tr data-id="{{ e.id }}" class="{{ loop.index % 2 ? '' : 'even' }}">
							{% for k,v in cols %}
								<td>
									<span>{{ e|get(k)|raw }}</span>
									{% if en == 'Pedidos' and loop.index == 2 %}
										<span>- {{ e|get('idCliente.mail')|lower }}</span>
									{% endif %}
								</td>
							{% endfor %}
							{% if starred %}
								<td class="toggleflag">
									<span data-id="{{ e.id }}" data-prop="starred" data-en="{{ entityName }}" class="starred {{ e.starred ? '' : 'null' }}"></span>
								</td>
							{% endif %}
							{% if visible %}
								<td class="toggleflag">
									<span data-id="{{ e.id }}" data-prop="visible" data-en="{{ entityName }}" class="visible {{ e.visible ? '' : 'null' }}"></span>
								</td>
							{% endif %}
							{% if en == 'Clientes' %}
								<td>
									{% if customer.qad[e.id] %}
										<a href="{{ url('admin/list/Domicilios') }}?w=idCliente:{{ e.id }}" class="btn btn-default btn-xs" title="Ver Domicilios">Domicilios ({{ customer.qad[e.id] }})</a>
									{% endif %}
									{% if customer.qor[e.id] %}
										<a href="{{ url('admin/list/Pedidos') }}?w=idCliente:{{ e.id }}" class="btn btn-default btn-xs" title="Ver Pedidos"> Pedidos ({{ customer.qor[e.id] }})</a>
									{% endif %}
								</td>
							{% endif %}
							{% if en == 'Pedidos' %}
								<td>
									<a href="{{ url('admin/preview/order/' ~ e.id) }}" class="btn btn-default btn-xs" title="Ver Comanda">Comanda</a>
									<a href="{{ url('admin/list/' ~ en) }}?w=idCliente:{{ e.idCliente.id }}" class="btn btn-default btn-xs" title="Filtrar">Filtrar</a>
								</td>
							{% endif %}
							<td>
								<a href="{{ url('admin/edit/' ~ en ~ '/' ~ e.id) }}" class="btn btn-primary btn-xs edit" title="Editar">Editar</a>
								{% set sdel = '' %}
								{% if en == 'Pedidos' %}
									{% set sdel = 'el pedido número ' %}
								{% endif %}
								<a data-value="{{ sdel ~ e|get(deletekey) }}" href="{{ url('admin/delete/' ~ en ~ '/' ~ e.id) }}" title="Borrar" class="btn btn-danger btn-xs del delen">Borrar</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	{% if sort %}
		<div class="row">
			<div class="col-md-12">
				{% if pagenav.order == 'sort' %}
					<span class="example">Para ordenar mueva los elementos utilizando drag and drop.</span>
				{% else %}
					<a class="button secondary radius" href="{{ url('admin/list/' ~ en) }}?o=sort&amp;cw={{ pagenev.customWhere }}&amp;w={{ pagenav.where }}">Ordenar</a>
				{% endif %}
			</div>
		</div>
	{% endif %}
{% else %}
	<p class="noresults">No se encontraron resultados</p>
{% endif %}