{% if pagenav.results %}
	{% if pagenav.nofpages > 1 %}
		<div class="pagination-centered">
			<ul class="pagination">
				<li class="arrow {{ pagenav.page == 1 ? 'unavailable' : '' }}">
					{% if pagenav.page == 1 %}
						<a href="#">&laquo;</a>
					{% else %}
						<a href="{{ url('admin/list/' ~ en) }}?p={{ pagenav.page - 1}}&amp;o={{ pagenav.order }}&amp;d={{ pagenav.dir }}&amp;w={{ pagenav.where }}">&laquo;</a>
					{% endif %}
				</li>
				{% for i in 1..pagenav.nofpages %}
					<li class="{{ pagenav.page == i ? 'current' : '' }}"><a href="{{ url('admin/list/' ~ en) }}?p={{ i }}&amp;o={{ pagenav.order }}&amp;d={{ pagenav.dir }}&amp;w={{ pagenav.where }}">{{ i }}</a></li>
				{% endfor %}
				<li class="arrow {{ pagenav.page == pagenav.nofpages ? 'unavailable' : '' }}">
					{% if pagenav.page == pagenav.nofpages %}
						<a href="#">&raquo;</a>
					{% else %}
						<a href="{{ url('admin/list/' ~ en) }}?p={{ pagenav.page + 1}}&amp;o={{ pagenav.order }}&amp;d={{ pagenav.dir }}&amp;w={{ pagenav.where }}">&raquo;</a>
					{% endif %}
				</li>
			</ul>
		</div>
	{% endif %}
	<p class="results-page">Cantidad de resultados por página</p>
	<div class="row">
		<div class="small-4 medium-3 large-2 small-centered columns">
			<div class="row collapse" id="results-page">
				<div class="small-5 medium-4 columns">
					<input type="text" placeholder="{{ pagenav.max }}">
				</div>
				<div class="small-7 medium-8 columns">
					<a href="{{ url('admin/list/' ~ en) }}?o={{ pagenav.order }}&amp;d={{ pagenav.dir }}&amp;n=&amp;w={{ pagenav.where }}" class="postfix button">Listar</a>
				</div>
			</div>
		</div>
	</div>
{% endif %}